<a href="https://colab.research.google.com/github/talhaanwarch/Profiling-Hate-Speech-Spreaders-on-Twitter/blob/main/AGnotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!nvidia-smi -L

GPU 0: Tesla T4 (UUID: GPU-94d85bdf-1dc2-e28c-f0a4-b525a3db0f07)

#install pacakges

In [2]:
%%capture
!python3 -m pip install -U pip
!python3 -m pip install -U setuptools wheel
!python3 -m pip install -U "mxnet_cu110<2.0.0"
!python3 -m pip install autogluon

In [3]:
%%capture
!pip install -U transformers
!pip install catboost
!pip install xgboost
!pip install lightgbm

# download data

In [4]:
import os
if os.path.isdir('/content/Profiling-Hate-Speech-Spreaders-on-Twitter') is False:
    !git clone https://github.com/talhaanwarch/Profiling-Hate-Speech-Spreaders-on-Twitter.git

In [5]:
%%capture 
if os.path.isdir('train') is False:
  !unzip /content/Profiling-Hate-Speech-Spreaders-on-Twitter/data/train.zip
if os.path.isdir('test') is False:
  !unzip /content/Profiling-Hate-Speech-Spreaders-on-Twitter/data/test.zip

# prepare data

## train data

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('train/en/truth.txt',sep=':::',header=None,engine='python')
df.columns=['id','label']

In [7]:
df.label.value_counts()

1    100
0    100
Name: label, dtype: int64

In [8]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('stopwords')
lemmatizer = WordNetLemmatizer()
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
stop = stopwords.words('english')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
def preprocessing(text):
    text=text.str.replace('\d+', '')
    text=text.str.replace('RT','')
    text=text.str.replace('#USER#','')
    text=text.str.replace('_','')
    text=text.str.replace('#URL#','')
    text= text.str.lower()
    text = text.str.replace('[^\w\s]','')
    #text = text.apply(lambda x : [lemmatizer.lemmatize(y) for y in w_tokenizer.tokenize(x)])
    #text = text.apply(lambda x: [item for item in x if item not in stop])
    #text = text.apply(lambda x : " ".join(x))
    return text

In [10]:
df.id='train/en/'+df.id.astype(str)+'.xml'
df.head()

                                              id  label
0  train/en/639b8e5e6a527d494c85d8f5704b1a01.xml      0
1  train/en/f2b1fc84c500c38a93522efbd422b559.xml      0
2  train/en/10b2d013382e1fb3c9414ea28329f258.xml      0
3  train/en/26644d1348fc1122e8c5ef45d6bc84fa.xml      0
4  train/en/4d4c5dcbfe38d0d33a0d1b1419952ca8.xml      0

In [11]:
len(df)

200

In [12]:
import xml.etree.ElementTree as ET
def reader(df,ground=True):
  data=[]
  for x in df.iterrows():
      
      tree = ET.parse(x[1].id)
      root = tree.getroot()
      text=[x.text for x in root[0]]
      if ground:
        label=[x[1].label]*len(text)
        data.append(pd.DataFrame(zip(text,label),columns=['text','label']))
      else:
        data.append(pd.DataFrame(text,columns=['text']))
  return data

In [13]:
data=reader(df)

In [14]:
data[0].head()

                                                text  label
0  RT #USER#: Funny how “15 days to slow the spre...      0
1  RT #USER#: Why did Minneapolis just give Georg...      0
2  RT #USER#: To be fair, he has done a lot of un...      0
3  RT #USER#: President Trump got us the #HASHTAG...      0
4  RT #USER#: Is the case against former officer ...      0

In [15]:

datax=data.copy()
for d in range(len(data)):
  datax[d].text=preprocessing(data[d].text)

In [16]:
datax[0].head()

                                                text  label
0    funny how  days to slow the spread turned in...      0
1    why did minneapolis just give george floyds ...      0
2    to be fair he has done a lot of undercover w...      0
3    president trump got us the hashtag vaccine p...      0
4    is the case against former officer derek cha...      0

In [17]:
len(datax[0])

200

In [18]:
doc_text,doc_label,=[],[]
for i in range(len(datax)):
  doc_text.append(list(datax[i].text))
  doc_label.append(int(datax[i].mean()))

In [19]:
len(doc_text),len(doc_label)

(200, 200)

## test data

In [20]:
from glob import glob
test_path=pd.DataFrame(glob('test/en/*.xml'),columns=['id'])
test_path.head()

                                             id
0  test/en/f2973063f16c0698a6de86c55b5f9ad6.xml
1  test/en/be71e41921653e523aceb555727b61c7.xml
2  test/en/d0235c3e74f79298fc2b6d2427c2060b.xml
3  test/en/314d4bf068314367bc83dc5ae3757e13.xml
4  test/en/fdd27881da241cff7115c1e89caba6dd.xml

In [21]:
test_data=reader(test_path,ground=False)

In [22]:

test_datax=test_data.copy()
for d in range(len(test_datax)):
  test_datax[d].text=preprocessing(test_datax[d].text)

In [23]:
test_doc=[]
for i in range(len(test_datax)):
  test_doc.append(list(test_datax[i].text))

# generate embeddings

In [24]:
from transformers import AutoTokenizer, AutoModel
from torch.nn.utils.rnn import pad_sequence
import torch
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased",)
model = AutoModel.from_pretrained("bert-base-uncased",output_hidden_states=True)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [25]:
device='cuda'
model=model.to(device)

In [26]:
#get data from last hidden layer
def create_embeddings(doc_text,max_length=20):
  doc_embeddings=[]
  for text in doc_text:
    inputs=tokenizer(text,max_length=max_length,padding=True,truncation=True)
    text_seq = torch.tensor(inputs['input_ids']).to(device)
    text_mask = torch.tensor(inputs['attention_mask']).to(device)
    model.eval()
    with torch.no_grad():
      outputs= model(text_seq,attention_mask=text_mask)
      hidden_states=outputs.hidden_states
      emb=torch.mean(hidden_states[11], 1)
      doc_embeddings.append(emb)
  x=torch.mean(torch.stack(doc_embeddings),1)
  x=np.array(x.cpu())
  return x

In [27]:
%%time
x=create_embeddings(doc_text)

CPU times: user 44.3 s, sys: 185 ms, total: 44.5 s
Wall time: 43.4 s

In [28]:
y=doc_label
len(x),len(y)

(200, 200)

In [29]:
%%time
test=create_embeddings(test_doc)
print(len(test))

100
CPU times: user 22.9 s, sys: 41.4 ms, total: 22.9 s
Wall time: 22.4 s

# AutoGluon

In [30]:
data=pd.concat([pd.DataFrame(x),pd.DataFrame(y)],axis=1)
data.columns=['col_{}'.format(i) for i in range(x.shape[1])]+['Label']
data = data.sample(frac=1).reset_index(drop=True)
data.head()

      col_0     col_1     col_2     col_3  ...   col_765   col_766   col_767  Label
0 -0.060916 -0.060502  0.222756 -0.038621  ... -0.393949 -0.087446 -0.067072      1
1  0.013039  0.061095  0.308357 -0.077782  ... -0.290338 -0.010375 -0.073959      1
2 -0.021055 -0.173784  0.186329  0.008758  ... -0.353272 -0.082687 -0.037013      0
3  0.023635  0.067840  0.325173 -0.080089  ... -0.290314 -0.065547 -0.100407      0
4  0.057248  0.087196  0.417204 -0.083670  ... -0.296652 -0.095180 -0.103664      0

[5 rows x 769 columns]

In [31]:
test_df=pd.DataFrame(test)
test_df.columns=['col_{}'.format(i) for i in range(test.shape[1])]
test_df.head()

      col_0     col_1     col_2  ...   col_765   col_766   col_767
0  0.065292  0.130962  0.312095  ... -0.243183  0.044420 -0.030861
1 -0.037613 -0.337574  0.239518  ... -0.444929 -0.146946 -0.060303
2  0.025136 -0.162270  0.213175  ... -0.311056 -0.082320 -0.070695
3 -0.069353 -0.048899  0.336302  ... -0.272553 -0.083607 -0.151875
4  0.077054  0.063156  0.245847  ... -0.302380  0.116852 -0.080851

[5 rows x 768 columns]

In [32]:
%%time
from autogluon.tabular import  TabularPredictor
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report,accuracy_score
skf = StratifiedKFold(n_splits=5,shuffle=True)

acc=[]
test_pred=[]
for train_index, test_index in skf.split(data.iloc[:,0:-1], data.iloc[:,-1]):
  train=data.iloc[train_index,:]
  test=data.iloc[test_index,:]
  clf=TabularPredictor(label='Label',verbosity=0).fit(train, presets='best_quality')
  res=clf.leaderboard(test,silent=True)
  res['score_test']=res['score_test'].round(3)*100
  pred = clf.predict(test,model=res.model[0])
  accuracy=accuracy_score(test.Label,pred)
  acc.append(accuracy)
  print('best model ',res.model[0],' accuracy is ',accuracy)
  test_pred.append(clf.predict(test_df,model=res.model[0]))
print('average accuracy is',np.mean(acc))

best model  LightGBM_BAG_L1  accuracy is  0.7
best model  RandomForestEntr_BAG_L1  accuracy is  0.675
best model  KNeighborsDist_BAG_L1  accuracy is  0.75
best model  LightGBMXT_BAG_L1  accuracy is  0.8
best model  CatBoost_BAG_L1  accuracy is  0.775
average accuracy is 0.74
CPU times: user 21min 43s, sys: 17.4 s, total: 22min
Wall time: 13min 4s

In [33]:
ids=test_path.id.apply(lambda x:x.split('/')[-1].split('.')[0])
pred=np.mean(test_pred,axis=0)
lang=['en']*len(test_path)
pred=np.where(pred>0.5,1,0)

In [34]:
final=pd.DataFrame(zip(ids,lang,pred),columns=['author-id','lang','type'])
final.head()

                          author-id lang  type
0  f2973063f16c0698a6de86c55b5f9ad6   en     1
1  be71e41921653e523aceb555727b61c7   en     0
2  d0235c3e74f79298fc2b6d2427c2060b   en     0
3  314d4bf068314367bc83dc5ae3757e13   en     1
4  fdd27881da241cff7115c1e89caba6dd   en     1

In [35]:
final.to_csv('first.csv',index=False)

In [36]:
if os.path.isdir('output'):
  !rm -rf output
  !mkdir output
  !rm talha.zip
else:
  !mkdir output

rm: cannot remove 'talha.zip': No such file or directory

In [37]:
import pandas as pd
df=final.copy()
import pandas as pd
for row in df.index:
    xml = []
    xml.append('<author id="{}"'.format(df.loc[row,'author-id']))
    xml.append('lang="{}"'.format(df.loc[row,'lang']))
    xml.append('type="{}"'.format(df.loc[row,'type']))
    xml.append('/>')
    x='\n'.join(xml)
    myfile = open("output/{}.xml".format(df.loc[row,'author-id']), "w")
    myfile.write(x)
    myfile.close()

In [38]:
%%capture
!zip -r talha.zip output